@font-face {
    font-family: 'western';
    src: url('/fonts/western.TTF');
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url('img/desert.png');
    background-position: center;
    font-family: western;
}

h1 {
    font-size: 40px;
    letter-spacing: 3px;
    text-shadow: 4px 2px 3px rgba(0, 0, 0, 0.5);
}

canvas {
    display: block;
}

#rotateHint {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    z-index: 9999;
    text-align: center;
}

.menu {
    position: absolute;
    bottom: 8px;
    z-index: 100;
}

.buttons {
    background: none;
    border: none;
}

.buttons:hover {
    filter: invert();
    cursor: pointer;
}

.content-position {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-position {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.soundButton {
    width: 50px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.soundButton:hover {
    filter: invert();
}

.backButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.backButton:hover {
    filter: invert();
}

.reloadButton {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
}

.reloadButton img {
    width: 100%;
    height: 100%;
}

.reloadButton:hover {
    filter: invert();
}

.setting-buttons {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

#restartButton {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay-content {
    background-color: #FFA500;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    max-height: 70vh;
    overflow-y: auto;
    position: relative;
    text-align: left;
}

.overlay-content::-webkit-scrollbar {
    width: 4px;
}

.overlay-content::-webkit-scrollbar-track {
    background: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
}

.overlay-content::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 8px;
    border: none;
}


.overlay-content::-webkit-scrollbar-button {
    display: none;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
}

.reload-button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
    filter: invert();
}

.reload-button:hover {
    transform: translate(-50%, -50%) rotate(360deg);
}

.mobileButtons {
    background: none;
    border: none;
}

.mobileButtons:hover {
    cursor: pointer;
    filter: invert();
}

.mobileGamePadLeft {
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 100;
}

.mobileGamePadRight {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 100;
}

.mobileButtonsPosition {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobileButtonsSize {
    width: 48px;
}

@media only screen and (orientation: landscape) and (max-width: 950px) {
    canvas {
        width: 100vw;
        height: 100vh;
    }

    #rotateHint {
        display: block;
    }

    #gameName {
        display: none;
    }
}

@media only screen and (orientation: landscape) {
    #rotateHint {
        display: none;
    }
}

#mobileButtons {
    display: none;
}

@media only screen and (max-width: 950px) {
    #mobileButtons {
        display: block;
    }

    .menu {
        top: 8px;
    }

    .iconSize {
        width: 28px;
        height: 28px;
    }
}

@media only screen and (min-width: 950px) {
    .iconSize {
        width: 40px;
        height: 40px;
    }
}