@font-face {
    font-family: 'danfo';
    src: url('/fonts/danfo.ttf');
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url('img/desert.png');
    background-position: center;
    font-family: danfo;
}

h1 {
    font-size: 40px;
    letter-spacing: 3px;
    text-shadow: 4px 2px 3px rgba(0, 0, 0, 0.5);
}

canvas {
    background-color: black;
}