@font-face {
    font-family: 'western';
    src: url('/fonts/western.TTF');
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url('img/desert.png');
    background-position: center;
    font-family: western;
}

h1 {
    font-size: 40px;
    letter-spacing: 3px;
    text-shadow: 4px 2px 3px rgba(0, 0, 0, 0.5);
}

canvas {
    background-color: black;
}

.startButton {
    width: 120px;
    height: 40px;
    margin-top: 16px;
    font-size: 24px;
    background-color: #FFA500;
    /* Orange-Gelb, wie die Schrift im Bild */
    color: black;
    /* Schwarzer Text */
    border: none;
    cursor: pointer;
    border-radius: 10px;
    /* Abgerundete Ecken */
    font-family: western;
    /* Gleiche Schriftart wie im Bild */
}

.startButton:hover {
    font-size: 28px;
    color: white;
}

.content-position {
    display: flex;
    flex-direction: column;
}

.button-position {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.soundButton {
    width: 50px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.soundButton img {
    width: 100%;
    height: 100%;
}

.soundButton:hover {
    filter: invert();
}

.back-button {
    width: 58px;
    height: 58px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.back-button img {
    width: 100%;
    height: 100%;
}

.back-button:hover {
    filter: invert();
}

.setting-buttons {
    display: flex;
    align-items: center;
    margin-top: 16px;
}